# What is Pandas?
Pandas is a Python library used for working with data sets.

It has functions for analyzing, cleaning, exploring, and manipulating dat
# Why Use Pandas?
Pandas allows us to analyze big data and make conclusions based on statistical theories.

Pandas can clean messy data sets, and make them readable and relevant.a.

In [7]:
import pandas as pd
my_dataset= {'cars':["BWM","Ford","Volvo"]
            , "Numbers": [1,2,4]}

myvar= pd.DataFrame(my_dataset)
print(myvar)

    cars  Numbers
0    BWM        1
1   Ford        2
2  Volvo        4

# What is a Series?
A Pandas Series is like a column in a table.
It is a one-dimensional array holding data of any type.

In [3]:
a=[1,2,3]
myvar=pd.Series(a)
print(myvar)

0    1
1    2
2    3
dtype: int64

# Labels
If nothing else is specified, the values are labeled with their index number. First value has index 0, second value has index 1 etc.

This label can be used to access a specified value.

In [4]:
print(myvar[0])

1

In [10]:
import pandas as pd 
a=[1,7,2]
myvar= pd.Series(a,index=['x','y','z'])
print(myvar)

x    1
y    7
z    2
dtype: int64

In [11]:
print(myvar["y"])

7

## Key/Value Objects as Series

In [15]:
import pandas as pd

calories = {"day1": 420, "day2": 380, "day3": 390}

myvar = pd.Series(calories)

print(myvar)

day1    420
day2    380
day3    390
dtype: int64

In [13]:
import pandas as pd

calories = {"day1": 420, "day2": 380, "day3": 390}

myvar = pd.Series(calories, index = ["day1", "day2"])

print(myvar)

day1    420
day2    380
dtype: int64

# DataFrame
## What is a DataFrame?
A Pandas DataFrame is a 2 dimensional data structure, like a 2 dimensional array, or a table with rows and columns.

In [17]:
import pandas as pd

data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

myvar = pd.Series(data)

print(myvar)

calories    [420, 380, 390]
duration       [50, 40, 45]
dtype: object

In [22]:
import pandas as pd

data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

myvar = pd.DataFrame(data)

print(myvar)

   calories  duration
0       420        50
1       380        40
2       390        45

In [23]:
print(myvar.loc[0])

calories    420
duration     50
Name: 0, dtype: int64

In [27]:
print(myvar.loc[[0,1,]])

   calories  duration
0       420        50
1       380        40

In [28]:
import pandas as pd

data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

df = pd.DataFrame(data, index = ["day1", "day2", "day3"])

print(df)

      calories  duration
day1       420        50
day2       380        40
day3       390        45

In [29]:
print(df.loc['day1'])

calories    420
duration     50
Name: day1, dtype: int64

In [31]:
print(df.loc['day2'])

calories    380
duration     40
Name: day2, dtype: int64

In [33]:
# NumPy array
import numpy as np
np_data = np.array([[10, 20], [30, 40], [50, 60]])

df_from_np = pd.DataFrame(np_data, columns=['A', 'B'], index=['Row1', 'Row2', 'Row3'])
print("\nDataFrame from NumPy array with custom index and columns:")
print(df_from_np)

DataFrame from NumPy array with custom index and columns:
       A   B
Row1  10  20
Row2  30  40
Row3  50  60

## Read CSV Files
A simple way to store big data sets is to use CSV files (comma separated files).

CSV files contains plain text and is a well know format that can be read by everyone including Pandas.

In [37]:
df=pd.read_csv('data.csv')
print(df.to_string())

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
5          60    102       127     300.0
6          60    110       136     374.0
7          45    104       134     253.3
8          30    109       133     195.1
9          60     98       124     269.0
10         60    103       147     329.3
11         60    100       120     250.7
12         60    106       128     345.3
13         60    104       132     379.3
14         60     98       123     275.0
15         60     98       120     215.2
16         60    100       120     300.0
17         45     90       112       NaN
18         60    103       123     323.0
19         45     97       125     243.0
20         60    108       131     364.2
21         45    100       119     282.0
22         60    130       101     300.0
23         45    105       132     246.0
24         60    102       126     334.5
25         60    100       120     250.0
26         60     92       118     241.0
27         60    103       132       NaN
28         60    100       132     280.0
29         60    102       129     380.3
30         60     92       115     243.0
31         45     90       112     180.1
32         60    101       124     299.0
33         60     93       113     223.0
34         60    107       136     361.0
35         60    114       140     415.0
36         60    102       127     300.0
37         60    100       120     300.0
38         60    100       120     300.0
39         45    104       129     266.0
40         45     90       112     180.1
41         60     98       126     286.0
42         60    100       122     329.4
43         60    111       138     400.0
44         60    111       131     397.0
45         60     99       119     273.0
46         60    109       153     387.6
47         45    111       136     300.0
48         45    108       129     298.0
49         60    111       139     397.6
50         60    107       136     380.2
51         80    123       146     643.1
52         60    106       130     263.0
53         60    118       151     486.0
54         30    136       175     238.0
55         60    121       146     450.7
56         60    118       121     413.0
57         45    115       144     305.0
58         20    153       172     226.4
59         45    123       152     321.0
60        210    108       160    1376.0
61        160    110       137    1034.4
62        160    109       135     853.0
63         45    118       141     341.0
64         20    110       130     131.4
65        180     90       130     800.4
66        150    105       135     873.4
67        150    107       130     816.0
68         20    106       136     110.4
69        300    108       143    1500.2
70        150     97       129    1115.0
71         60    109       153     387.6
72         90    100       127     700.0
73        150     97       127     953.2
74         45    114       146     304.0
75         90     98       125     563.2
76         45    105       134     251.0
77         45    110       141     300.0
78        120    100       130     500.4
79        270    100       131    1729.0
80         30    159       182     319.2
81         45    149       169     344.0
82         30    103       139     151.1
83        120    100       130     500.0
84         45    100       120     225.3
85         30    151       170     300.0
86         45    102       136     234.0
87        120    100       157    1000.1
88         45    129       103     242.0
89         20     83       107      50.3
90        180    101       127     600.1
91         45    107       137       NaN
92         30     90       107     105.3
93         15     80       100      50.5
94         20    150       171     127.4
95         20    151       168     229.4
96         30     95       128     128.2
97         25    152       168     244.2
98         30    109       131     188.2
99         90     93       124     604.1
100        20     95       112      77.7
101        90     90       110     500.0
102        90     90       100     500.0
103        90     90       100     500.4
104        30     92       108      92.7
105        30     93       128     124.0
106       180     90       120     800.3
107        30     90       120      86.2
108        90     90       120     500.3
109       210    137       184    1860.4
110        60    102       124     325.2
111        45    107       124     275.0
112        15    124       139     124.2
113        45    100       120     225.3
114        60    108       131     367.6
115        60    108       151     351.7
116        60    116       141     443.0
117        60     97       122     277.4
118        60    105       125       NaN
119        60    103       124     332.7
120        30    112       137     193.9
121        45    100       120     100.7
122        60    119       169     336.7
123        60    107       127     344.9
124        60    111       151     368.5
125        60     98       122     271.0
126        60     97       124     275.3
127        60    109       127     382.0
128        90     99       125     466.4
129        60    114       151     384.0
130        60    104       134     342.5
131        60    107       138     357.5
132        60    103       133     335.0
133        60    106       132     327.5
134        60    103       136     339.0
135        20    136       156     189.0
136        45    117       143     317.7
137        45    115       137     318.0
138        45    113       138     308.0
139        20    141       162     222.4
140        60    108       135     390.0
141        60     97       127       NaN
142        45    100       120     250.4
143        45    122       149     335.4
144        60    136       170     470.2
145        45    106       126     270.8
146        60    107       136     400.0
147        60    112       146     361.9
148        30    103       127     185.0
149        60    110       150     409.4
150        60    106       134     343.0
151        60    109       129     353.2
152        60    109       138     374.0
153        30    150       167     275.8
154        60    105       128     328.0
155        60    111       151     368.5
156        60     97       131     270.4
157        60    100       120     270.4
158        60    114       150     382.8
159        30     80       120     240.9
160        30     85       120     250.4
161        45     90       130     260.4
162        45     95       130     270.0
163        45    100       140     280.9
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

In [38]:
df=pd.read_csv('data.csv')
print(df)

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[169 rows x 4 columns]

pd.options.display.max_rows=9999
df=pd.read_csv('data.csv')
print(df)

#### Summary of the dataset

In [41]:
print("\nSummary statistics:")
print(df.describe())

Summary statistics:
         Duration       Pulse    Maxpulse     Calories
count  169.000000  169.000000  169.000000   164.000000
mean    63.846154  107.461538  134.047337   375.790244
std     42.299949   14.510259   16.450434   266.379919
min     15.000000   80.000000  100.000000    50.300000
25%     45.000000  100.000000  124.000000   250.925000
50%     60.000000  105.000000  131.000000   318.600000
75%     60.000000  111.000000  141.000000   387.600000
max    300.000000  159.000000  184.000000  1860.400000

#### Display the first and last five rows of the DataFrame:

In [43]:
print("First five rows: ")
print(df.head())
print("Last five rows: ")
print(df.tail())

First five rows:
   Duration  Pulse  Maxpulse  Calories
0        60    110       130     409.1
1        60    117       145     479.0
2        60    103       135     340.0
3        45    109       175     282.4
4        45    117       148     406.0
Last five rows:
     Duration  Pulse  Maxpulse  Calories
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

#### Extract a specific column as a Series:

In [45]:
print(df.loc[164])

Duration     60.0
Pulse       105.0
Maxpulse    140.0
Calories    290.8
Name: 164, dtype: float64

In [48]:
column_data=df['Duration']
print(column_data.head())
print(column_data)

0    60
1    60
2    60
3    45
4    45
Name: Duration, dtype: int64
0       60
1       60
2       60
3       45
4       45
5       60
6       60
7       45
8       30
9       60
10      60
11      60
12      60
13      60
14      60
15      60
16      60
17      45
18      60
19      45
20      60
21      45
22      60
23      45
24      60
25      60
26      60
27      60
28      60
29      60
30      60
31      45
32      60
33      60
34      60
35      60
36      60
37      60
38      60
39      45
40      45
41      60
42      60
43      60
44      60
45      60
46      60
47      45
48      45
49      60
50      60
51      80
52      60
53      60
54      30
55      60
56      60
57      45
58      20
59      45
60     210
61     160
62     160
63      45
64      20
65     180
66     150
67     150
68      20
69     300
70     150
71      60
72      90
73     150
74      45
75      90
76      45
77      45
78     120
79     270
80      30
81      45
82      30
83     120
84      45
85      30
86      45
87     120
88      45
89      20
90     180
91      45
92      30
93      15
94      20
95      20
96      30
97      25
98      30
99      90
100     20
101     90
102     90
103     90
104     30
105     30
106    180
107     30
108     90
109    210
110     60
111     45
112     15
113     45
114     60
115     60
116     60
117     60
118     60
119     60
120     30
121     45
122     60
123     60
124     60
125     60
126     60
127     60
128     90
129     60
130     60
131     60
132     60
133     60
134     60
135     20
136     45
137     45
138     45
139     20
140     60
141     60
142     45
143     45
144     60
145     45
146     60
147     60
148     30
149     60
150     60
151     60
152     60
153     30
154     60
155     60
156     60
157     60
158     60
159     30
160     30
161     45
162     45
163     45
164     60
165     60
166     60
167     75
168     75
Name: Duration, dtype: int64

#### Filter rows based on column values:

In [51]:
filtered_df= df[df['Duration']>50]
print(filtered_df)

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
5          60    102       127     300.0
6          60    110       136     374.0
9          60     98       124     269.0
10         60    103       147     329.3
11         60    100       120     250.7
12         60    106       128     345.3
13         60    104       132     379.3
14         60     98       123     275.0
15         60     98       120     215.2
16         60    100       120     300.0
18         60    103       123     323.0
20         60    108       131     364.2
22         60    130       101     300.0
24         60    102       126     334.5
25         60    100       120     250.0
26         60     92       118     241.0
27         60    103       132       NaN
28         60    100       132     280.0
29         60    102       129     380.3
30         60     92       115     243.0
32         60    101       124     299.0
33         60     93       113     223.0
34         60    107       136     361.0
35         60    114       140     415.0
36         60    102       127     300.0
37         60    100       120     300.0
38         60    100       120     300.0
41         60     98       126     286.0
42         60    100       122     329.4
43         60    111       138     400.0
44         60    111       131     397.0
45         60     99       119     273.0
46         60    109       153     387.6
49         60    111       139     397.6
50         60    107       136     380.2
51         80    123       146     643.1
52         60    106       130     263.0
53         60    118       151     486.0
55         60    121       146     450.7
56         60    118       121     413.0
60        210    108       160    1376.0
61        160    110       137    1034.4
62        160    109       135     853.0
65        180     90       130     800.4
66        150    105       135     873.4
67        150    107       130     816.0
69        300    108       143    1500.2
70        150     97       129    1115.0
71         60    109       153     387.6
72         90    100       127     700.0
73        150     97       127     953.2
75         90     98       125     563.2
78        120    100       130     500.4
79        270    100       131    1729.0
83        120    100       130     500.0
87        120    100       157    1000.1
90        180    101       127     600.1
99         90     93       124     604.1
101        90     90       110     500.0
102        90     90       100     500.0
103        90     90       100     500.4
106       180     90       120     800.3
108        90     90       120     500.3
109       210    137       184    1860.4
110        60    102       124     325.2
114        60    108       131     367.6
115        60    108       151     351.7
116        60    116       141     443.0
117        60     97       122     277.4
118        60    105       125       NaN
119        60    103       124     332.7
122        60    119       169     336.7
123        60    107       127     344.9
124        60    111       151     368.5
125        60     98       122     271.0
126        60     97       124     275.3
127        60    109       127     382.0
128        90     99       125     466.4
129        60    114       151     384.0
130        60    104       134     342.5
131        60    107       138     357.5
132        60    103       133     335.0
133        60    106       132     327.5
134        60    103       136     339.0
140        60    108       135     390.0
141        60     97       127       NaN
144        60    136       170     470.2
146        60    107       136     400.0
147        60    112       146     361.9
149        60    110       150     409.4
150        60    106       134     343.0
151        60    109       129     353.2
152        60    109       138     374.0
154        60    105       128     328.0
155        60    111       151     368.5
156        60     97       131     270.4
157        60    100       120     270.4
158        60    114       150     382.8
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

#### Select rows based on multiple conditions:

In [58]:
filtered_df2 = df[(df['Duration'] > 50) & (df['Pulse'] > 100)]
print(filtered_df2)

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
5          60    102       127     300.0
6          60    110       136     374.0
10         60    103       147     329.3
12         60    106       128     345.3
13         60    104       132     379.3
18         60    103       123     323.0
20         60    108       131     364.2
22         60    130       101     300.0
24         60    102       126     334.5
27         60    103       132       NaN
29         60    102       129     380.3
32         60    101       124     299.0
34         60    107       136     361.0
35         60    114       140     415.0
36         60    102       127     300.0
43         60    111       138     400.0
44         60    111       131     397.0
46         60    109       153     387.6
49         60    111       139     397.6
50         60    107       136     380.2
51         80    123       146     643.1
52         60    106       130     263.0
53         60    118       151     486.0
55         60    121       146     450.7
56         60    118       121     413.0
60        210    108       160    1376.0
61        160    110       137    1034.4
62        160    109       135     853.0
66        150    105       135     873.4
67        150    107       130     816.0
69        300    108       143    1500.2
71         60    109       153     387.6
90        180    101       127     600.1
109       210    137       184    1860.4
110        60    102       124     325.2
114        60    108       131     367.6
115        60    108       151     351.7
116        60    116       141     443.0
118        60    105       125       NaN
119        60    103       124     332.7
122        60    119       169     336.7
123        60    107       127     344.9
124        60    111       151     368.5
127        60    109       127     382.0
129        60    114       151     384.0
130        60    104       134     342.5
131        60    107       138     357.5
132        60    103       133     335.0
133        60    106       132     327.5
134        60    103       136     339.0
140        60    108       135     390.0
144        60    136       170     470.2
146        60    107       136     400.0
147        60    112       146     361.9
149        60    110       150     409.4
150        60    106       134     343.0
151        60    109       129     353.2
152        60    109       138     374.0
154        60    105       128     328.0
155        60    111       151     368.5
158        60    114       150     382.8
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

#### Delete a column

In [59]:
df_without_pulse = df.drop(columns=['Pulse'])
print("\nDataFrame with 'pulse' column deleted:")
print(df_without_pulse)

DataFrame with 'pulse' column deleted:
     Duration  Maxpulse  Calories
0          60       130     409.1
1          60       145     479.0
2          60       135     340.0
3          45       175     282.4
4          45       148     406.0
5          60       127     300.0
6          60       136     374.0
7          45       134     253.3
8          30       133     195.1
9          60       124     269.0
10         60       147     329.3
11         60       120     250.7
12         60       128     345.3
13         60       132     379.3
14         60       123     275.0
15         60       120     215.2
16         60       120     300.0
17         45       112       NaN
18         60       123     323.0
19         45       125     243.0
20         60       131     364.2
21         45       119     282.0
22         60       101     300.0
23         45       132     246.0
24         60       126     334.5
25         60       120     250.0
26         60       118     241.0
27         60       132       NaN
28         60       132     280.0
29         60       129     380.3
30         60       115     243.0
31         45       112     180.1
32         60       124     299.0
33         60       113     223.0
34         60       136     361.0
35         60       140     415.0
36         60       127     300.0
37         60       120     300.0
38         60       120     300.0
39         45       129     266.0
40         45       112     180.1
41         60       126     286.0
42         60       122     329.4
43         60       138     400.0
44         60       131     397.0
45         60       119     273.0
46         60       153     387.6
47         45       136     300.0
48         45       129     298.0
49         60       139     397.6
50         60       136     380.2
51         80       146     643.1
52         60       130     263.0
53         60       151     486.0
54         30       175     238.0
55         60       146     450.7
56         60       121     413.0
57         45       144     305.0
58         20       172     226.4
59         45       152     321.0
60        210       160    1376.0
61        160       137    1034.4
62        160       135     853.0
63         45       141     341.0
64         20       130     131.4
65        180       130     800.4
66        150       135     873.4
67        150       130     816.0
68         20       136     110.4
69        300       143    1500.2
70        150       129    1115.0
71         60       153     387.6
72         90       127     700.0
73        150       127     953.2
74         45       146     304.0
75         90       125     563.2
76         45       134     251.0
77         45       141     300.0
78        120       130     500.4
79        270       131    1729.0
80         30       182     319.2
81         45       169     344.0
82         30       139     151.1
83        120       130     500.0
84         45       120     225.3
85         30       170     300.0
86         45       136     234.0
87        120       157    1000.1
88         45       103     242.0
89         20       107      50.3
90        180       127     600.1
91         45       137       NaN
92         30       107     105.3
93         15       100      50.5
94         20       171     127.4
95         20       168     229.4
96         30       128     128.2
97         25       168     244.2
98         30       131     188.2
99         90       124     604.1
100        20       112      77.7
101        90       110     500.0
102        90       100     500.0
103        90       100     500.4
104        30       108      92.7
105        30       128     124.0
106       180       120     800.3
107        30       120      86.2
108        90       120     500.3
109       210       184    1860.4
110        60       124     325.2
111        45       124     275.0
112        15       139     124.2
113        45       120     225.3
114        60       131     367.6
115        60       151     351.7
116        60       141     443.0
117        60       122     277.4
118        60       125       NaN
119        60       124     332.7
120        30       137     193.9
121        45       120     100.7
122        60       169     336.7
123        60       127     344.9
124        60       151     368.5
125        60       122     271.0
126        60       124     275.3
127        60       127     382.0
128        90       125     466.4
129        60       151     384.0
130        60       134     342.5
131        60       138     357.5
132        60       133     335.0
133        60       132     327.5
134        60       136     339.0
135        20       156     189.0
136        45       143     317.7
137        45       137     318.0
138        45       138     308.0
139        20       162     222.4
140        60       135     390.0
141        60       127       NaN
142        45       120     250.4
143        45       149     335.4
144        60       170     470.2
145        45       126     270.8
146        60       136     400.0
147        60       146     361.9
148        30       127     185.0
149        60       150     409.4
150        60       134     343.0
151        60       129     353.2
152        60       138     374.0
153        30       167     275.8
154        60       128     328.0
155        60       151     368.5
156        60       131     270.4
157        60       120     270.4
158        60       150     382.8
159        30       120     240.9
160        30       120     250.4
161        45       130     260.4
162        45       130     270.0
163        45       140     280.9
164        60       140     290.8
165        60       145     300.0
166        60       145     310.2
167        75       150     320.4
168        75       150     330.4